# Env and package
.env
.vscode
*.whl
build
*.egg-info

# Dataset
*.npz
*.csv
BEMAC_datamake
BEMAC_datamake/

# Models
*.pth
*.pickle

# Compiled python
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints

# Doc
_build

# Figures
*.png
*.jpg
